.form_allignment{
    color:blue;
    /* text-align: center; */

}
.card_allignment{
 
    /* display:flex,*/
    margin-left: -200px;
    
}
.container_allignment{
 
    /* display:flex, */
    margin-left: -200px;
    
}